body {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSjHpRwArKSOMcPYjAW0IdPPa36zRTaSPsTTqP_8ZkrTkaiQ-5-");
  background-size: cover;
  background-position: bottom center;
  height: 100%;
  width: 100%;
  repeat: no-repeat;
}