body {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRctM3hHvzhkCmL50rB6izxqjTxnfPr2IXv_6oC6AKp3drdN-J1JQ");
  background-size: cover;
  background-position: bottom center;
  height: 100%;
  width: 100%;
  repeat: no-repeat;
}