body {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSYURFJDXkbJmEc50-tcBf_v62yuMhkw8ZK0v91QYUmWzO451czzA");
  background-size: cover;
  background-position: bottom center;
  height: 100%;
  width: 100%;
  repeat: no-repeat;
}